## Country_Vaccination Project

Below is a dataset for daily vaccination numbers per country.

In [118]:
#importing library
import pandas as pd
import numpy as np

In [119]:
df=pd.read_csv('country_vaccination_stats.csv')

In [120]:
df_copy=df.copy()

In [123]:
df

        country        date  daily_vaccinations                             vaccines
0     Argentina  12/29/2020                 NaN                            Sputnik V
1     Argentina  12/30/2020             15656.0                            Sputnik V
2     Argentina  12/31/2020             15656.0                            Sputnik V
3     Argentina    1/1/2021             11070.0                            Sputnik V
4     Argentina    1/2/2021              8776.0                            Sputnik V
...         ...         ...                 ...                                  ...
1497      Wales   1/20/2021             11105.0  Oxford/AstraZeneca, Pfizer/BioNTech
1498      Wales   1/21/2021             12318.0  Oxford/AstraZeneca, Pfizer/BioNTech
1499      Wales   1/22/2021             15148.0  Oxford/AstraZeneca, Pfizer/BioNTech
1500      Wales   1/23/2021             17371.0  Oxford/AstraZeneca, Pfizer/BioNTech
1501      Wales   1/24/2021             17063.0  Oxford/AstraZeneca, Pfizer/BioNTech

[1502 rows x 4 columns]

In [124]:
def display_percent_missing(data):
    '''
    data: Data is the dataset we want to see the percentage of missing data.
    Function Action: This function show us of persent missing value for each column.
    '''   
    percent_missing = data.isnull().sum() *100 / len(data)
    missing_value_df = pd.DataFrame({'column_name': data.columns, 
                                     'percent_missing': percent_missing})
    
    display(missing_value_df.sort_values(by='percent_missing', ascending=False).head(25))
    return(missing_value_df)

missing_value_df= display_percent_missing(df)

                           column_name  percent_missing
daily_vaccinations  daily_vaccinations         3.994674
country                        country         0.000000
date                              date         0.000000
vaccines                      vaccines         0.000000

In [90]:
df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [91]:
df['country'].unique()

array(['Argentina', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Ecuador', 'England', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Isle of Man', 'Israel', 'Italy',
       'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Netherlands', 'Northern Ireland', 'Norway', 'Oman', 'Panama',
       'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States', 'Wales'],
      dtype=object)

### Answer 4)

Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero).

In [93]:
df.groupby('country')['daily_vaccinations'].min()

country
Argentina                 6483.0
Austria                   3368.0
Bahrain                    943.0
Belgium                      1.0
Brazil                     112.0
Bulgaria                   472.0
Canada                     866.0
Chile                       51.0
China                   187500.0
Costa Rica                 240.0
Croatia                    989.0
Cyprus                     534.0
Czechia                   1822.0
Denmark                   1994.0
Ecuador                    108.0
England                  37625.0
Estonia                    309.0
Finland                    459.0
France                    5000.0
Germany                  19721.0
Gibraltar                  520.0
Greece                     549.0
Hungary                   1339.0
Iceland                     63.0
India                   112150.0
Indonesia                11823.0
Ireland                    550.0
Isle of Man                 90.0
Israel                    6887.0
Italy                      926.0
Kuwait                       NaN
Latvia                     338.0
Lithuania                  311.0
Luxembourg                  62.0
Malta                      259.0
Mexico                    1300.0
Netherlands               4000.0
Northern Ireland          1563.0
Norway                     224.0
Oman                       817.0
Panama                       6.0
Poland                    4300.0
Portugal                  2791.0
Romania                    712.0
Russia                    3357.0
Saudi Arabia             14153.0
Scotland                  3047.0
Serbia                    1150.0
Seychelles                 500.0
Singapore                 2800.0
Slovakia                   425.0
Slovenia                  1270.0
Spain                    41496.0
Sweden                    3859.0
Switzerland               3000.0
Turkey                   67192.0
United Arab Emirates     30698.0
United Kingdom           46423.0
United States            57909.0
Wales                     1763.0
Name: daily_vaccinations, dtype: float64

In [94]:
#Filling missing value  per country with the minimum daily vaccination number of relevant countries.
df["daily_vaccinations"]=df.groupby('country')['daily_vaccinations'].transform(lambda x: x.fillna(x.min()))

In [95]:
missing_value_df= display_percent_missing(df)

                           column_name  percent_missing
daily_vaccinations  daily_vaccinations         0.066578
country                        country         0.000000
date                              date         0.000000
vaccines                      vaccines         0.000000

In [96]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    1
vaccines              0
dtype: int64

After filling the missing data in the daily_vaccinations column with the min value of the relevant countries, the missing value table was examined again. All missing data could not be filled in due to the lack of a valid minimum value for the country of Kuwait. Filled with 0 because there is no valid vaccine number from this step.

In [97]:
# Kuwait does not any valid vaccination number yet,fill it with “0” (zero)
df["daily_vaccinations"].fillna(0, inplace=True)

In [98]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

###  Answer 5)

Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.

In [122]:
df.groupby('country')['daily_vaccinations'].median().sort_values(ascending=False).head(3)

country
United States    399093.0
China            299107.5
India            182551.5
Name: daily_vaccinations, dtype: float64

##### Top 3 Countries
1-United States <br>
2-China <br>
3-India <br>

### Answer 6)

What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? Please  just provide the number as answer.

In [102]:
df['date'] = pd.to_datetime(df['date'])

In [103]:
df.groupby('date')['daily_vaccinations'].sum()

date
2020-12-13       6373.0
2020-12-14      10663.0
2020-12-15     201520.0
2020-12-16     202347.0
2020-12-17     202955.0
2020-12-18     203234.0
2020-12-19     209860.0
2020-12-20     351864.0
2020-12-21     360097.0
2020-12-22     438915.0
2020-12-23     484876.0
2020-12-24     554683.0
2020-12-25     586905.0
2020-12-26     609813.0
2020-12-27     642026.0
2020-12-28     683179.0
2020-12-29     761576.0
2020-12-30     836134.0
2020-12-31     874541.0
2021-01-01     937426.0
2021-01-02    1014630.0
2021-01-03    1070392.0
2021-01-04    1225923.0
2021-01-05    1363842.0
2021-01-06    1485255.0
2021-01-07    1636630.0
2021-01-08    1758746.0
2021-01-09    1844454.0
2021-01-10    1927589.0
2021-01-11    1981736.0
2021-01-12    2001262.0
2021-01-13    2195834.0
2021-01-14    2558868.0
2021-01-15    2871342.0
2021-01-16    2963700.0
2021-01-17    2944891.0
2021-01-18    3067223.0
2021-01-19    3279650.0
2021-01-20    3341204.0
2021-01-21    2683719.0
2021-01-22    2772300.0
2021-01-23    2918389.0
2021-01-24    3005078.0
2021-01-25    2137679.0
Name: daily_vaccinations, dtype: float64

In [113]:
df[df['date'] == '01-06-2021']['daily_vaccinations'].sum()

1485255.0

#### Total vaccinations done on 1/6/2021 (MM/DD/YYYY)
1485255.0