## Country_Vaccination Project

Below is a dataset for daily vaccination numbers per country.

In [85]:
#importing library
import pandas as pd
import numpy as np
import seaborn as sb

In [86]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [87]:
df=pd.read_csv('country_vaccination_stats.csv')

In [88]:
df_copy=df.copy()

In [101]:
df

        country        date  daily_vaccinations                             vaccines
0     Argentina  12/29/2020              6483.0                            Sputnik V
1     Argentina  12/30/2020             15656.0                            Sputnik V
2     Argentina  12/31/2020             15656.0                            Sputnik V
3     Argentina    1/1/2021             11070.0                            Sputnik V
4     Argentina    1/2/2021              8776.0                            Sputnik V
...         ...         ...                 ...                                  ...
1497      Wales   1/20/2021             11105.0  Oxford/AstraZeneca, Pfizer/BioNTech
1498      Wales   1/21/2021             12318.0  Oxford/AstraZeneca, Pfizer/BioNTech
1499      Wales   1/22/2021             15148.0  Oxford/AstraZeneca, Pfizer/BioNTech
1500      Wales   1/23/2021             17371.0  Oxford/AstraZeneca, Pfizer/BioNTech
1501      Wales   1/24/2021             17063.0  Oxford/AstraZeneca, Pfizer/BioNTech

[1502 rows x 4 columns]

In [89]:
def display_percent_missing(data):
    percent_missing = data.isnull().sum() *100 / len(data)
    missing_value_df = pd.DataFrame({'column_name': data.columns, 
                                     'percent_missing': percent_missing})
    
    display(missing_value_df.sort_values(by='percent_missing', ascending=False).head(25))
    return(missing_value_df)

missing_value_df= display_percent_missing(df)

                           column_name  percent_missing
daily_vaccinations  daily_vaccinations         3.994674
country                        country         0.000000
date                              date         0.000000
vaccines                      vaccines         0.000000

In [90]:
df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [91]:
df['country'].unique()

array(['Argentina', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Ecuador', 'England', 'Estonia', 'Finland',
       'France', 'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Isle of Man', 'Israel', 'Italy',
       'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Mexico',
       'Netherlands', 'Northern Ireland', 'Norway', 'Oman', 'Panama',
       'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey',
       'United Arab Emirates', 'United Kingdom', 'United States', 'Wales'],
      dtype=object)

## Answer 4)

Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
Please  provide the link to your code as answer to this question.

Kod Uygulama Görevi: İlgili ülkelerin minimum günlük aşı sayısı ile ülke başına günlük aşılar sütununda eksik verileri (impute) doldurmak.
Not: Bir ülkenin henüz geçerli bir aşı numarası yoksa “0” (sıfır) ile doldurun.
Lütfen bu soruya cevap olarak kodunuzun bağlantısını sağlayın

In [93]:
df.groupby('country')['daily_vaccinations'].min()

country
Argentina                 6483.0
Austria                   3368.0
Bahrain                    943.0
Belgium                      1.0
Brazil                     112.0
Bulgaria                   472.0
Canada                     866.0
Chile                       51.0
China                   187500.0
Costa Rica                 240.0
Croatia                    989.0
Cyprus                     534.0
Czechia                   1822.0
Denmark                   1994.0
Ecuador                    108.0
England                  37625.0
Estonia                    309.0
Finland                    459.0
France                    5000.0
Germany                  19721.0
Gibraltar                  520.0
Greece                     549.0
Hungary                   1339.0
Iceland                     63.0
India                   112150.0
Indonesia                11823.0
Ireland                    550.0
Isle of Man                 90.0
Israel                    6887.0
Italy                      926.0
Kuwait                       NaN
Latvia                     338.0
Lithuania                  311.0
Luxembourg                  62.0
Malta                      259.0
Mexico                    1300.0
Netherlands               4000.0
Northern Ireland          1563.0
Norway                     224.0
Oman                       817.0
Panama                       6.0
Poland                    4300.0
Portugal                  2791.0
Romania                    712.0
Russia                    3357.0
Saudi Arabia             14153.0
Scotland                  3047.0
Serbia                    1150.0
Seychelles                 500.0
Singapore                 2800.0
Slovakia                   425.0
Slovenia                  1270.0
Spain                    41496.0
Sweden                    3859.0
Switzerland               3000.0
Turkey                   67192.0
United Arab Emirates     30698.0
United Kingdom           46423.0
United States            57909.0
Wales                     1763.0
Name: daily_vaccinations, dtype: float64

In [94]:
df["daily_vaccinations"]=df.groupby('country')['daily_vaccinations'].transform(lambda x: x.fillna(x.min()))

In [95]:
missing_value_df= display_percent_missing(df)

                           column_name  percent_missing
daily_vaccinations  daily_vaccinations         0.066578
country                        country         0.000000
date                              date         0.000000
vaccines                      vaccines         0.000000

In [96]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    1
vaccines              0
dtype: int64

daily_vaccinations kolonunda bulunan eksik veriler ilgili ülkelerin min değeri ile doldurulduktan sonra eksik değer tablosu tekrar incelendi. Kuwait ülkesine ait geçerli bir minimum değerin olmaması sebebiyle tüm eksik veriler doldurulamadı. Bu adımdan geçerli aşı numarası olmadığından 0 ile dolduruldu.

In [97]:
df["daily_vaccinations"].fillna(0, inplace=True)

In [98]:
df.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

## Answer 5)

Code
Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.
Please  provide the link to your code as answer to this question.

Kod Uygulama Görevi: Veri setinin eksik değerleri doldurulmuş versiyonunu dikkate alarak en yüksek medyan günlük aşılama sayılarına sahip ilk 3 ülkeyi listelemek için  gerekli kodu uygulayın.
Lütfen bu soruya cevap olarak kodunuzun bağlantısını sağlayın.

In [100]:
df.groupby('country')['daily_vaccinations'].median().sort_values()

country
Kuwait                       0.0
Iceland                     63.0
Luxembourg                  88.0
Ecuador                    108.0
Isle of Man                138.0
Malta                      407.5
Latvia                     592.0
Costa Rica                 675.5
Cyprus                     708.0
Gibraltar                  713.0
Seychelles                1000.0
Bulgaria                  1010.0
Estonia                   1043.0
Oman                      1192.0
Chile                     1291.0
Panama                    1324.0
Lithuania                 1933.5
Finland                   2035.5
Northern Ireland          2135.0
Wales                     2198.0
Slovenia                  2374.0
Croatia                   2485.0
Serbia                    2920.0
Norway                    2958.0
Switzerland               3000.0
Belgium                   3606.0
Bahrain                   3662.0
Singapore                 4907.0
Greece                    5290.0
Slovakia                  5357.0
Czechia                   5378.0
Sweden                    5382.5
Hungary                   5464.5
Mexico                    5488.0
Scotland                  5821.0
Portugal                  5944.0
Ireland                   6528.0
Netherlands               6762.0
Denmark                   7095.5
Austria                   7850.0
Canada                   11044.0
Argentina                11645.0
Romania                  13030.0
Indonesia                13200.0
Saudi Arabia             16807.5
Brazil                   17220.0
Poland                   22702.5
Russia                   23563.0
France                   41496.0
Italy                    44475.5
Germany                  51184.0
Spain                    55238.0
United Arab Emirates     86430.0
Israel                   92587.0
England                 107310.5
United Kingdom          120409.0
Turkey                  150356.0
India                   173922.0
China                   276786.0
United States           378253.0
Name: daily_vaccinations, dtype: float64

## Answer 6)

What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? Please  just provide the number as answer.

Veri setinin eksik değerleri doldurulmuş versiyonu dikkate alınarak 1/6/2021 (AA/GG/YYYY) tarihinde yapılan toplam aşı sayısı nedir?

In [102]:
df['date'] = pd.to_datetime(df['date'])

In [103]:
df.groupby('date')['daily_vaccinations'].sum()

date
2020-12-13       6373.0
2020-12-14      10663.0
2020-12-15     201520.0
2020-12-16     202347.0
2020-12-17     202955.0
2020-12-18     203234.0
2020-12-19     209860.0
2020-12-20     351864.0
2020-12-21     360097.0
2020-12-22     438915.0
2020-12-23     484876.0
2020-12-24     554683.0
2020-12-25     586905.0
2020-12-26     609813.0
2020-12-27     642026.0
2020-12-28     683179.0
2020-12-29     761576.0
2020-12-30     836134.0
2020-12-31     874541.0
2021-01-01     937426.0
2021-01-02    1014630.0
2021-01-03    1070392.0
2021-01-04    1225923.0
2021-01-05    1363842.0
2021-01-06    1485255.0
2021-01-07    1636630.0
2021-01-08    1758746.0
2021-01-09    1844454.0
2021-01-10    1927589.0
2021-01-11    1981736.0
2021-01-12    2001262.0
2021-01-13    2195834.0
2021-01-14    2558868.0
2021-01-15    2871342.0
2021-01-16    2963700.0
2021-01-17    2944891.0
2021-01-18    3067223.0
2021-01-19    3279650.0
2021-01-20    3341204.0
2021-01-21    2683719.0
2021-01-22    2772300.0
2021-01-23    2918389.0
2021-01-24    3005078.0
2021-01-25    2137679.0
Name: daily_vaccinations, dtype: float64

2021-01-06  Tarihinde toplam 1.485.255 aşı yapılmıştır.

## Answer 7)

Code Implementation Task: If this list would be a database table, please provide SQL query to fill in the missing daily vaccination numbers with discrete median of country as similar to question a.  
Please  provide the link to your code as answer to this question. 
Note: This time SQL equivalent is requested, and imputation value is median of each country, not minimum. Please remember filling countries with zero if they do not have any valid daily_vaccination records like Kuwait.